/* caixa fixa para a imagem */
main section figure {
  margin: 0;
  text-align: center;
}


main section figure img {
  width: 220px;
  height: 330px;

  object-fit: cover;     
  object-position: center; 

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

/* legenda */
main section figure figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #94A3B8;
}
